<html>
    <head>
        <style>
          a {
            color: #9740ED !important;
            text-decoration: underline !important;
          }
        </style>
    </head>
    <body style="
      max-width: 300px;
      font-family: 'Poppins', sans-serif;
      padding: 1rem;
      background-color: #f5f5f5;
      margin: 0 auto;
      border-radius: 1rem;
    ">
        <h3>Hello, {{name}}!</h3>
        <p>You are receiving this email because you have changed your password.</p>
        <p>Enjoy!</p>
        <a href="https://{{link}}">Go to Toto</a>
    </body>
</html>