<html>
    <head>
        <style>
          @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

          a {
            color: #9740ED !important;
            text-decoration: underline !important;
          }
        </style>
    </head>
    <body style="
      max-width: 300px;
      font-family: 'Poppins', sans-serif;
      padding: 1rem;
      background-color: #f5f5f5;
      margin: 0 auto;
      border-radius: 1rem;
    ">
        <h3>Hello, {{name}}!</h3>
        <p>You are receiving this email because you requested to reset your password.</p>
        <p> Please use the link below to change it!</p>
        <a href="https://{{link}}">Reset Password</a>
    </body>
</html>